<h1>Welcome to the user index route</h1>

{{#each user}}

<a href= {{_id}}><h3>{{name}}</h3></a>
<p>Weight: {{weight}}</p>
<p>Age: {{age}}</p>

<form action="/{{_id}}?_method=DELETE" method="POST">
   <button type="submit" class="btn">Delete User</button>
</form>
<a href="/{{_id}}/edit"><button class="btn">Edit</button></a>

{{/each}}